
<div class="tab-nav">
  <a href="/" class="new-tab-btn tab">New Suggestions</a>

  <!-- <form action="/filterData/contacted" method="post">
    <input type="submit" value="Contacted">
  </form> -->

  <a href="/contacted" class="contacted-tab-btn tab">Already Contacted</a>
  <a href="/potential" class="potential-tab-btn tab">Potential Subscriptions</a>
  <a href="/active" class="active-subs-tab-btn tab">Active Subscriptions</a>
  <a href="/paused" class="paused-subs-tab-btn tab">Paused Subscriptions</a>
  <a href="/not-interested" class="not-interested-tab-btn tab">Not Interested But Suggested</a>
</div>