
<div class="header">
  <h1 class="<%= pagePath %>"><%= pageTitle %></h1>
  <p class="logged-in-p">You are currently logged in</p>
  <p style="font-style: italic;">You will be periodically logged out for security reasons.</p>
  <p>There are currently <%= customerPurchasesArr.length%> customers in this tab.</p>
</div>
<div class="tab-nav">
  <a href="/" class="new tab-btn tab">New Suggestions</a>
  <a href="/contacted" class="contacted tab" >Already Contacted</a>
  <a href="/potential" class="potential tab">Potential Subscriptions</a>
  <a href="/active" class="active tab">Active Subscriptions</a>
  <a href="/paused" class="paused tab">Paused Subscriptions</a>
  <a href="/not-interested" class="not-interested tab">Not Interested</a>
</div>

<script>
  const tabs = document.querySelectorAll('.tab')
  tabs.forEach(tab => {
    if (tab.classList.contains('<%=pagePath%>')){
      tab.classList.add('target-tab')
    }
  })
</script>